<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Rating</dt>
          <dd>
            <% if @product.reviews.length > 0 %>
            <%= 10 * @product.reviews.sum(:rating) / @product.reviews.length / 10.0 %>
            <% else %>
            5.0<% end %>/5
            </dd>
        </dl>
      </div>
    </div>

    <%# The current reviews section, the author will need to be added later %>

    <div class="row">
      <h1>Reviews</h1>
      <% if current_user %>
        <%= render 'review_form' %>
      <% end %>
      <div class="panel panel-default col-sm-12">
        <table class="table table-bordered">
          <tbody>
            <%= render (@product.reviews).reverse %>
          </tbody>
        </table>
      </div>
    </div>

  </article>
