<tr class="review well">
  <td>
    <div class="review-header well well-sm">
      <p><%= get_review_user(review.user_id) %></p>
      <p>Rating: <%= review.rating %></p>
    </div>
    <div class="review-body well-lg">
      <%= review.description %>
    </div>
    <div class="review-footer well">
      <p>posted: <%= review.created_at.strftime('%a %d %b %Y') %></p>
      <% if (current_user && same_user?(review.user_id)) %>
      <%= link_to 'Destroy', [review.product, review], :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-default' %>
      <% end %>
    </div>
  </td>
</tr>
